.catalog-item {
	//flex?? или как Img и тайтл с таблицей разместить? 
  //-- да, флекс. в карточке надо добавить обертку для всего, кроме картинки. и флексом картинку налево, всё остальное направо
}
.catalog-item__title-link {
	text-decoration: none;
  color: #111111;
}
.catalog-item__title {
	.text;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
}
