.catalog-list {
  .text;
  list-style: none;
  box-sizing: border-box;
  border: 1px solid #ededed; 
}
.catalog-list__item {
	border-bottom: 1px solid #ededed;
	box-sizing: border-box;
	padding: 25px 20px;
}
.catalog-list__show-all {
	padding: 82px 20px 25px 20px;
}

