.dev-logo {
  display: flex;
  justify-content: flex-start;
  padding-top: 22px;
}

.dev-logo__text {
  text-decoration: none;
  font-family: "arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  padding-top: 5px;
}

.dev-logo__text:active {
  color: #c8c8c8;
}

.dev-logo__logo {
  text-decoration: none;
  margin-left: auto;
}

.dev-logo__logo:hover .dev-logo__img {
  fill: @color-main;
}
.dev-logo__logo:active .dev-logo__img {
  fill: #c8e0ba;
}

@media (min-width: @tablet) {
  .dev-logo {
    padding: 0;
    margin-left: auto;
  }

  .dev-logo__logo {
    padding-left: 23px;
  }

  .dev-logo__text {
    padding-top: 8px;
  }
}
