.dev-logo {
  display: flex;
  justify-content: flex-start;
  padding-top: 22px;
}

.dev-logo__text {
  text-decoration: none;
  font-family: "arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.dev-logo__logo {
  text-decoration: none;
  margin-left: auto;
}
