.example {
  background-color: @color-add;
  padding: 25px 20px 38px 20px;
  box-sizing: border-box;
  position: relative;
}

.example__title {
  .text;
  text-align: left;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  width: 280px;
  margin: 0 auto 20px auto;
}

.example__wrapper-all {
  width: 280px;
  margin: 0 auto;
}

.example__text {
  .text;
  text-align: left;
  font-family: "arial", sans-serif;
  margin-bottom: 27px;
}

.example__text-money {
  .text;
  text-transform: uppercase;
  margin-bottom: 45px;
  line-height: 20px;
}

.example__wrapper-img { //кота добавить бэкграундом или в разметку?
  height: 240px;
  margin-bottom: 30px;
}

.example__text-result {
  .text;
}

.example__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}

//блоки в рамке:
.example__text-border {
  .text;
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  min-width: 124px;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  position: relative;
  padding: 15px;
  text-align: center;

  span {
    font-family: "arial", sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-transform: none;
    transform: translateX(-50%) translateY(-8px);
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: @color-add;
    padding: 0 15px;
  }
}

.example__text-result-left,
.example__text-result-right {
  .text;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: @tablet) {
  .example {
    border-top: 1px solid #e6e6e6;
    box-sizing: border-box;
    padding: 52px 30px 68px 30px;
    background-color: @white;
  }

  .example__title {
    font-size: 60px;
  }

  .example__text {
    line-height: 24px;
  }

  .example__text-money {
    font-size: 20px;
    line-height: 20px;
  }

  .example__text-border {
    font-size: 30px;
    line-height: 37, 02px;

    span {
      font-size: 14px;
      line-height: 14px;
      background-color: @white;
    }
  }

  .example__text-result-left,
  .example__text-result-right {
    font-size: 20px;
    line-height: 20px;
  }

  .example__text-result {
    background-color: @color-add;
  }
}

@media (min-width: @desktop) {
  .example__wrapper-all {
    background-color: @color-add;
  }

  .example__text-border {
    span {
      background-color: @color-add;
    }
  }
}
