.extra-catalog {
  position: relative;
  padding-top: 31px;
  padding-bottom: 39px;
  text-align: left;
}

.extra-catalog__title {
  .text;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  width: 280px;
  margin: 0 auto 34px auto;
}

.extra-catalog__title-wrapper {
  //обертка для зеленой полоски
}

/*зеленая полоска переделать
.extra-catalog__title::before {
content: "";
background-color: @color-main;
  height: 3px;

  }*/

@media (min-width: @tablet) {
  .extra-catalog {
    padding: 71px 30px 69px 30px;
  }

  .extra-catalog__title {
    font-size: 36px;
    line-height: 36px;
  }

  .extra-item__wrapper {
    display: flex;
  }
}
