.extra-catalog {
	position: relative;
	padding: 31px 20px 18px 20px;
  text-align: left;
}
.extra-catalog__title {
	.head-2;
}
//зеленая полоска
.extra-catalog__title::before {
	content: "";
	.line;
	width: 53px;
	position: absolute;
	top: ;
	right: ;
}
//серая полоска внизу:
.extra-catalog__title::after {
	content: "";
	.line-other;
	position: absolute;
	bottom: ;
	left: ;
}

