.extra-catalog-list {
  .text;
  list-style: none;
  width: 280px;
  margin: 0 auto;
}

.extra-catalog-list__item {
  border-bottom: 1px solid #cdcdcd;
  box-sizing: border-box;
}

.extra-catalog-list__item:first-child {
  border-top: 1px solid #cdcdcd;
}

@media (min-width: @tablet) {
  .extra-catalog-list {
    border: 1px solid #e6e6e6;
  }
}

@media (min-width: @desktop) {
  .extra-catalog-list {
    border: none;
  }
}
