.extra-item {

}
.extra-item__title {
  .text-big;
  text-decoration: none;
}
.extra-item__feature {
  .text-medium;
}
.extra-item__feature-value {
  .text-medium;
}
.extra-item__btn {
	position: relative;
  .button;

}
.extra-item__btn::after {
	content: "";
	.line-other;
	position: absolute;
	bottom: ;
	left: ;
}