.extra-item {
  border-bottom: 1px solid #cdcdcd;
  box-sizing: border-box;
}
.extra-item__title {
  .text;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
.extra-item__feature {
  font-family: arial, sans-serif;
  line-height: 14px;
}
.extra-item__feature-value {
  font-family: arial, sans-serif;
  line-height: 14px;
}
