.features-list {
  .text;
  list-style: none;
  width: 280px;
  margin: 0 auto 15px auto;
  position: relative;
}

.features-list__item {

  &::before { /*зеленый квадрат*/
    content: "";
    background-color: @color-main;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.features-list__item-text {
  .text;
  font-family: "arial", sans-serif;
  line-height: 18px;
  text-align: left;
  padding-left: 80px;
  padding-bottom: 32px;
  box-sizing: border-box;
}

.features-list__item--icon-leaf {
  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 35px;
  position: absolute;
  top: 5px;
  left: 7px;
}

.features-list__item--icon-powder {
  background-image: url("../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  width: 29px;
  height: 35px;
  position: absolute;
  top: 5px;
  left: 7px;
}

.features-list__item--icon-dining {
  background-image: url("../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  width: 23px;
  height: 35px;
  position: absolute;
  top: 5px;
  left: 6px;
}

.features-list__item--icon-clock {
  background-image: url("../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 35px;
  position: absolute;
  top: 5px;
  left: 6px;
}

@media (min-width: @tablet) {
  .features-list {
    display: flex;
    width: 708px;
    margin-bottom: 105px;
    flex-wrap: wrap;
    counter-reset: features-list__item;
  }

  .features-list__item {
    width: 50%;
    padding: 135px 30px 110px 0;
    box-sizing: border-box;
  }

  .features-list__item::before {//квадрат
    width: 80px;
    height: 80px;
    top: 22px;
  }

  .features-list__item--icon-leaf,
  .features-list__item--icon-powder,
  .features-list__item--icon-dining,
  .features-list__item--icon-clock {
    top: 37px;
    left: 15px;
  }

  .features-list__item::after {
    content: "";
    counter-increment: features-list__item 1;
    font-size: 230px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .features-list__item-text {
    font-size: 16px;
    line-height: 24px;
    width: 245px;
    padding: 0;
  }
}
