.features__title {
  .text;
  text-align: left;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  padding: 25px 0;
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet) {
  .features__title {
    font-size: 60px;
    line-height: 60px;
  }
}
