.feature-tbl {
  font-family: "arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: @tablet) {
  .feature-tbl {
    font-size: 16px;
    line-height: 16px;
  }

  .feature-tbl__row {
    border-bottom: 1px solid #cdcdcd; //чего её не видно то? (
    box-sizing: border-box;
  }
}
