.feature-tbl {
  font-family: "arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: @tablet) {
  .feature-tbl {
    font-size: 16px;
    line-height: 16px;
    border-collapse: collapse;
  }

  .feature-tbl__row {
    border-bottom: 1px solid #cdcdcd;
    box-sizing: border-box;
  }
}
