.features-list {
	.text;
	list-style:none; 
}
.features-list__item {
  position: relative;
}
.features-list__item-text {
	.text;
	text-align: left;
	width: 192px;
	margin-left: 80px;
}

.features-list__item--icon-leaf::before {
  .square-before;
	position: absolute;
	top: ;
	left: ;
}
.features-list__item--icon-leaf::after {
	content: url(../img/advantage-leaf@1x.png);
	width: 26px;
	position: absolute;
	top: ;
	left: ;
}
.features-list__item--icon-powder::before {
	.square-before;
	position: absolute;
	top: ;
	left: ;

}
.features-list__item--icon-powder::after {
	content: url(../img/advantage-powder@1x.png);
	width: 29px;
	position: absolute;
	top: ;
	left: ;

}
.features-list__item--icon-dining::before {
	.square-before;
	position: absolute;
	top: ;
	left: ;
}
.features-list__item--icon-dining::after {
	content: url(../img/advantage-dining@1x.png);
	width: 23px;
	position: absolute;
	top: ;
	left: ;

}
.features-list__item--icon-clock::before {
	.square-before;
	position: absolute;
	top: ;
	left: ;
}
.features-list__item--icon-clock::after {
	content: url(../img/advantage-clock@1x.png);
	width: 26px;
	position: absolute;
	top: ;
	left: ;

}
