.food-program {
  padding-left: 20px;
  padding-right: 20px;
}
.food-program__item {
  background-color: @color-add;
  position: relative;
}

.food-program__text {
  .text;
  border-bottom: 1px solid #d9d9d9;
  text-align: left;
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.food-program__btn-link {
  .text;
  text-decoration: none;
  text-align: left;
  line-height: 16px;
  font-size: 16px;
  text-transform: uppercase;
  color: #111111;
}

.food-program__title--slim::before { 
	content: url(../img/icon-cat-slim.svg);
	width: 35px;
	position: absolute;
  top: 0;
  left: 0;
}
.food-program__title--fat::before {
	content: url(../img/icon-cat-pro.svg);
	width: 67px;
	position: absolute;
  top: 0;
  left: 0;
}
.food-program__title {
  .text;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;

  &::after { /*зеленый круг*/  //почему он НАД иконками, хоть до них в коде поставь,хоть после?
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: @color-main;
  position: absolute;
  top: 0;
  left: 0;
 }
}

.food-program__btn::after { /*стрелка*/
	content: url(../img/icon-right-arrow-long.svg);
	width: 24px;
	position: absolute;
}
