.footer-block {
	background-color: @color-add;
}
.footer-block__address {
	padding-top: 31px 20px 26px 20px;
  display: flex;
}
.footer-block__text-left {
  .text-big;
  line-height: 20px;
  text-align: left;
}
.footer-block__text-right {
  .text-medium;
  line-height: 20px;
  text-align: left;
}
.footer-block__map-wrap {
	width: 320px;
}