.footer-content {
	position: relative;
}
.footer-content__logo-link {
  text-decoration: none;
  width: ;
}
//серая полоска 
.footer-content__logo-link::after {
	content: "";
	.line-footer;
	position: absolute;
	bottom: ;
	left: ;
}