.footer-block {
  background-color: @color-add;
}
.footer-block__address {
  padding-top: 31px 20px 26px 20px;
  display: flex;
}
.footer-block__text-left {
  .text;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  text-align: left;
}
.footer-block__text-right {
  .text;
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}
