.footer-content {
  padding-bottom: 22px;
  width: 280px;
  margin: 0 auto;
}

.footer-content__logo-link {
  text-decoration: none;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
  display: block;
  padding: 32px 0;
}

.footer-content__logo {
  width: 129px;
}

.footer-content__logo-link:hover .footer-content__logo {
  fill: #3e3e3e;
}

.footer-content__logo-link:active .footer-content__logo {
  fill: #6b6b6b;
}

@media (min-width: @tablet) {
  .footer-content {
    display: flex;
    align-items: center;
    width: 708px;
    padding: 58px 0; //высота 150px всего
    box-sizing: border-box;
  }

  .footer-content__logo-link {
    border: none;
    padding: 0;
  }
}

@media (min-width: @desktop) {
  .footer-content {
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
