.gift-block {
  position: relative;
  text-align: center;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 280px;
}

.gift-block__text {
  .text;
  font-family: "arial", "sans-serif";
  font-size: 16px;
  line-height: 20px;
  color: @white;
  text-align: center;
  width: 159px;
}

.gift-block__text::before {
  content: url("../img/icon-gift.svg");
  fill: @white;
  position: absolute;
}
