.main-head {
  padding: 11px 20px 17px 20px;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
  position: relative;
}

.main-head__logo-link {
  text-decoration: none;
}

.main-head__logo {
  width: 191px;
}

.main-head__nav-btn {
  margin-left: auto;
  .text;
  width: 24px;
}

.main-head__nav-btn::after {
  content: url(img/icon-mobile-menu.svg);
  width: 24px;
  position: absolute;
}
