.more-items {
  position: relative;
  text-align: center;
  width: 280px;
  margin: 0 auto;
}

.more-items__text {
  .text;
  font-family: "arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 20px;
}

.more-items__title {
  .text;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 9px;
}

.more-items__title::before {
  content: url("../img/icon-plus-mobile.svg");
  width: 30px;
  position: absolute;
  top: -53px;
  left: 125px;
}

.more-items__btn {
  background-color: @color-add;
  color: #444444;
}

.more-items__btn:hover {
  background-color: #ebebeb;
}

.more-items__btn:active {
  background-color: #ebebeb;
  color: #c3c3c3;
}

@media (min-width: @tablet) {
  .more-items {
    width: 322px; 
  }

  .more-items__title {
    font-size: 20px;
    width: 135px;
    margin: 0 auto 28px auto;
  }

  .more-items__title::before {
    content: url("../img/icon-plus.svg");
    width: 60px;
    position: absolute;
    top: -110px;
    left: 132px;
  }

  .more-items__text {
    font-size: 16px;
    width: 168px;
    margin: 0 auto 87px auto;
  }

  .more-items__btn {
    width: 249px;
  }
}

@media (min-width: @desktop) {
  .more-items {
    width: 243px; // то же самое из-за бордера, на 2 рх меньше чем надо
  }

  .more-items__btn {
    width: 169px;
  }

  .more-items__title::before {
    left: 95px;
  }
}
