.more-items {
	position: relative;
	text-align: center;
}
.more-items__text {
	.text-small;
}
.more-items__title {
	.text-big;
	text-transform: uppercase;
}
.more-items__title::before {
	content: url(../img/icon-plus-mobile.svg);
	width: 30px;
	position: absolute;
	top: ;
	left: ;
}
.more-items__btn {
	.button;
	background-color: @color-add;
	color: black; /*??*/
}