.nav-list {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  position: relative;
}

.nav-list__element {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 21px;
}

.nav-list__link {
  text-decoration: none;
  color: #111111;
}

@media (min-width: @tablet) {
  .nav-list {
    display: flex;
    font-size: 18px;
    line-height: 24, 86px;
  }
}

@media (min-width: @desktop) {
  .nav-list {
    font-size: 20px;
  }

  .nav-list__link--here {
    //color: @white;
  }
}
