.nav-list {
	.text-medium-upper;
	font-size: 20px;
	line-height: 20px;
	list-style: none;
	position: relative;
}
.nav-list__element {
	text-align: center;
	padding-top: 24px;
	padding-bottom: 21px; 
}
//серая полоска внизу:
.nav-list__element::after {
  content: "";
  .line-main;
  position: relative;
  bottom: ;
  left: ;
}
.nav-list__link {
	text-decoration: none;
}