.networks {
	display: flex;
	justify-content: center;
	position: relative;
}
//серая полоска
.networks::after {
  content: "";
  .line-footer;
  position: absolute;
  bottom: ;
  left: ;
}
.networks__link {
  text-decoration: none;
  width: ;
  margin-left: ;
}