.order-form {
  padding-top: 15px;
  padding-bottom: 33px;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  font-size: 16px;
}

.order-form__section {
  .text;
  list-style: none;
  width: 280px;
  margin: 0 auto;
}

.order-form__radio-wrapper {
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  width: auto;
  padding: 26px 20px;
  margin-bottom: 28px;
}

.order-form__head {
  .text;
  font-size: 36px;
  line-height: 60px;
  text-transform: none;
  font-weight: 400;
  width: 280px;
  margin: 0 auto 25px auto;
}

.order-form__title {
  .text;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 36px;
  width: 181px;
}

.order-form__title--comment {
  width: 122px;
}

.order-form__title--extra {
  width: 140px;
}

.order-form__title-wrapper {
  position: relative;
  display: flex;
}

.order-form__title-wrapper::before {//зеленая полоска
  content: "";
  background-color: @color-main;
  height: 3px;
  margin-right: 20px;
  margin-top: 13px;
  width: calc(50vw - 170px);
}

.order-form__title-wrapper::after {//зеленая полоска
  content: "";
  background-color: @color-main;
  height: 3px;
  margin-left: 20px;
  margin-top: 13px;
  flex-grow: 1;
}

.order-form__section--info {
  margin-bottom: 23px;

  li {
    margin-bottom: 14px;
    display: flex;
  }

  li:last-child {
    margin-bottom: 0;
  }
}

.order-form__section--radio {
  padding-left: 46px;
  box-sizing: border-box;

  li:not(:last-child) {
    margin-bottom: 25px;
  }
}

.order-form__section--contacts {
  margin-bottom: 28px;

  li {
    margin-bottom: 14px;
    display: flex;
  }
}

.order-form__section--comment {
  margin-bottom: 25px;
}

.order-form__section--extra {
  padding-bottom: 15px;

  li {
    margin-bottom: 25px;
    padding-left: 46px;
    box-sizing: border-box;
  }
}

.order-form__field-label {
  padding-right: 12px;
  align-self: center;
}

.order-form__field {
  height: 45px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  flex-grow: 1;
}

.order-form__field:hover {
  border: 1px solid #cdcdcd;
}

.order-form__field:active {
  border: 2px solid #444444;
}

.order-form__field:active + .order-form__icon-mail,
.order-form__field:active + .order-form__icon-phone {
  fill: @color-main;
}

.order-form__icon-mail {
  width: 17px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.order-form__icon-phone {
  width: 20px;
  position: absolute;
  top: 15px;
  right: 12px;
}

.order-form__title-wrapper {
  width: auto;
}

.order-form__text-before {
  .text;
  font-size: 14px;
  width: 280px;
  margin: 0 auto 39px auto;
}

.order-form__text-after {
  .text;
  font-family: "arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
}

.order-form__btn {
  margin-bottom: 20px;
}

.order-form__after-wrapper {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

.order-form__comment {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  resize: none;
  padding: 13px 15px;
  width: 100%;
  height: 150px;
  min-height: 150px;
  resize: vertical;
}

.order-form__row {
  position: relative;
}

//круглая рамка радио
.order-form__radio-label::before {
	content: "";
  border: 1px solid #cecece;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  left: -46px;
  bottom: -6px;
}

//зеленый круг внутри радио
.order-form__radio-label::after {
  content: "";
  background-color: @color-main;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: -36px;
  top: 2px;
  opacity: 0;
}

.order-form__row input[type="radio"]:checked + .order-form__radio-label::after {
  opacity: 1;
}

.order-form__radio-label:hover {
  cursor: pointer;
}

.order-form__radio-label:hover::before {
  border: 1px solid #bcbcbc;
  cursor: pointer;
}

.order-form__radio-label:active {
  color: #cecece;
}

.order-form__radio-label:active::before {
  border: 1px solid #ebebeb;
}

.order-form__radio-label:active::after {
  background-color: #d1e9c3;
}

//квадратная рамка инпут
.order-form__checkbox-label::before {
  content: "";
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #cfcfcf;
  position: absolute;
  left: 0;
  top: -6px;
}

//галочка инпут
.order-form__checkbox-label::after {
  content: "";
  width: 10px;
  height: 17px;
  border: 2px solid @color-main;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  left: 10px;
  top: -5px;
  opacity: 0;
}

.order-form__row input[type="checkbox"]:checked + .order-form__checkbox-label::after {
  opacity: 1;
}

.order-form__checkbox-label:hover {
  cursor: pointer;
}

.order-form__checkbox-label:active {
  color: #cecece;
}

.order-form__checkbox-label:hover::before {
  cursor: pointer;
  border: 1px solid #bababa;
}

.order-form__checkbox-label:active::before {
  border: 1px solid #eaeaea;
}

.order-form__checkbox-label:active::after {
  border-color: #d1e9c3;
}

@media (min-width: @tablet) {
  .order-form {
    font-size: 20px;
    line-height: 20px;
    padding-top: 35px;
    padding-bottom: 52px;
  }

  .order-form__head {
    width: 708px;
    margin-bottom: 56px;
    font-size: 60px;
  }

  .order-form__section {
    padding: 0 35px 0 40px;
    width: 708px;
    box-sizing: border-box;
  }

  .order-form__field {
    height: 52px;
  }

  .order-form__icon-phone{
    top: 16px;
    right: 16px;
  }

  .order-form__field-label {
    padding-right: 18px;
  }

  .order-form__icon-mail {
    top: 19px;
    right: 20px;
  }

  .order-form__section--info {
    margin-bottom: 71px;

    li {
      margin-bottom: 20px;
    }
  }

  .order-form__radio-wrapper {
    width: 708px;
    margin: 0 auto 74px auto;
    padding: 0 35px 0 40px;
    border: none;
  }

  .order-form__section--radio {
    padding: 34px 0 34px 87px;
    border: 1px solid #e6e6e6;
    width: 100%;

    li:not(:last-child) {
      margin-bottom: 34px;
    }
  }

  .order-form__radio-label::before {
    left: -59px;
    bottom: -11px;
    height: 40px;
    width: 40px;
  }

  .order-form__radio-label::after {
    left: -46px;
    width: 17px;
    height: 17px;
  }

  .order-form__section--contacts {
    margin-bottom: 66px;

    li {
      margin-bottom: 20px;
    }
  }

  .order-form__section--comment {
    margin-bottom: 64px;
  }

  .order-form__comment {
    height: 175px;
    min-height: 175px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 15px;
  }

  .order-form__section--extra {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;

    li {
      padding-left: 58px;
      margin-bottom: 55px;
      width: 285px;
      box-sizing: border-box;
    }

    li:nth-child(odd) {
      margin-right: 30px;
    }

    li:nth-child(even) {
      margin-left: 30px;
    }
  }
//квадрат
  .order-form__checkbox-label::before {
    width: 40px;
    height: 40px;
    top: -9px;
  }
//галочка
  .order-form__checkbox-label::after {
    left: 15px;
    top: -2px;
  }

  .order-form__title {
    font-size: 36px;
    line-height: 36px;
    width: 513px;
    margin-bottom: 75px;
  }

  .order-form__title--comment {
    width: 186px;
  }

  .order-form__title--extra {
    width: 220px;
    padding-left: 3px;
    margin-bottom: 65px;
  }

  .order-form__title-wrapper:before {
    margin-top: 22px;
    margin-right: 40px;
    width: calc(50vw - 360px);
  }

  .order-form__title-wrapper:after {
    margin-top: 22px;
    margin-left: 40px;
  }

  .order-form__btn {
    font-size: 20px;
    line-height: 20px;
    padding: 15px;
  }

  .order-form__text-before {
    font-size: 20px;
    line-height: 30px;
    width: 708px;
    padding-left: 40px;
    box-sizing: border-box;
    margin-bottom: 65px;
  }

  .order-form__text-after {
    font-size: 16px;
    line-height: 16px;
    margin-left: 66px;
    padding-top: 13px;
    box-sizing: border-box;
  }

  .order-form__after-wrapper {
    display: flex;
    width: 708px;
    padding-left: 40px;
    box-sizing: border-box;
  }
}

@media (min-width: @desktop) {
  .order-form {
    padding-top: 19px;
    padding-bottom: 82px;
  }

  .order-form__head {
    width: 1300px;
    padding-left: 40px;
    box-sizing: border-box;
    margin-bottom: 55px;
  }

  .order-form__title-wrapper:before {
    margin-top: 21px;
    margin-right: 40px;
    width: calc(50vw - 660px);
  }

  .order-form__title-wrapper:after {
    margin-top: 21px;
    margin-left: 40px;
  }

  .order-form__text-before {
    width: 1300px;
  }

  .order-form__wrapper {
    display: flex;
    margin: 0 auto;
    width: 1300px;
  }

  .order-form__section--info {
    padding: 0 40px;
    width: 100%;
    margin-bottom: 68px;
  }

  .order-form__radio-wrapper {
    padding: 0 40px;
    width: 100%;
    margin-bottom: 68px;
  }

  .order-form__section--contacts {
    display: flex;
    width: 1300px;
    padding: 0;

    li {
      margin-bottom: 0;
      width: 570px;
      padding: 0 40px;
    }
  }

  .order-form__icon-mail {
    right: 60px;
  }

  .order-form__icon-phone {
    right: 55px;
  }

  .order-form__section--comment {
    padding: 0 40px;
    width: 1300px;
    margin-bottom: 67px;
  }

  .order-form__section--extra {
    width: 1300px;
    padding: 0;
    margin-bottom: 74px;

    li:nth-child(odd) {
      margin: 0 40px;
    }

    li:nth-child(even) {
      margin: 0 40px;
    }

    li {
      width: 245px;
    }
  }

  .order-form__title--extra {
    padding-left: 0;
  }

  .order-form__after-wrapper {
    width: 1300px;
    padding: 0;
  }

  .order-form__btn {
    width: 570px;
    margin: 0 40px;
    box-sizing: border-box;
  }

  .order-form__text-after {
    text-align: left;
    width: 570px;
    margin: 0 40px;
    box-sizing: border-box;
  }
}
