.order-form {
  padding-top: 20px;
  padding-bottom: 35px;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  font-size: 16px;
}

.order-form__section {
  .text;
  list-style: none;
  width: 280px;
  margin: 0 auto;
}

.order-form__radio-wrapper {
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  width: auto;
  padding: 25px 20px;
  margin-bottom: 27px;
}

.order-form__head {
  .text;
  font-size: 36px;
  line-height: 60px;
  text-transform: none;
  font-weight: 400;
  width: 280px;
  margin: 0 auto 30px auto;
}

.order-form__title {
  .text;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  font-weight: 400;
  margin: 0 auto 30px auto;
  width: 280px;
}

.order-form__section--info {
  margin-bottom: 23px;

  .order-form__row {
    margin-bottom: 14px;
    display: flex;
  }
}

.order-form__section--radio {
  padding-left: 46px;
  box-sizing: border-box;

  .order-form__row:not(:last-child) {
    margin-bottom: 25px;
  }
}

.order-form__section--contacts {
  margin-bottom: 28px;

  .order-form__row {
    margin-bottom: 14px;
    display: flex;
  }
}

.order-form__section--comment {
  margin-bottom: 28px;
}

.order-form__section--extra {
  padding-bottom: 18px;

  .order-form__row {
    margin-bottom: 25px;
    padding-left: 46px;
    box-sizing: border-box;
  }
}

.order-form__field-label {
  max-width: 40%;
  flex-grow: 1;
  align-self: center;
}

.order-form__field {
  height: 43px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  flex-grow: 1;
}

//обертка для зеленых полосок
.order-form__title-wrapper {
  width: auto;
}

.order-form__text-before {
  .text;
  font-size: 14px;
  width: 280px;
  margin: 0 auto 39px auto;
}

.order-form__text-after {
  .text;
  font-family: "arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
}

.order-form__btn {
  margin-bottom: 22px;
}

.order-form__after-wrapper {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

.order-form__comment {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  resize: none;
}

/*зеленые полоски доделать

  background-color: @color-main;
  height: 3px;

иконки в инпутах через
.order-form__section--contacts::after   ???
.order-form__section--contacts::before
*/

.order-form__row {
  position: relative;
}

//круглая рамка радио
.order-form__radio-label::before {
	content: "";
  border: 1px solid #cecece;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  left: -46px;
  bottom: -7px;
}

//зеленый круг внутри радио
.order-form__radio-label::after {
  content: "";
  background-color: @color-main;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: -36px;
  top: 2px;
}

//квадратная рамка инпут
.order-form__checkbox-label::before {
  content: "";
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #cfcfcf;
  position: absolute;
  left: 0;
  top: -6px;
}

//галочка инпут
.order-form__checkbox-label::after {
  content: "";
  position: absolute;
  left: 10px;
  top: -2px;
}

@media (min-width: @tablet) {
  .order-form {
    font-size: 20px;
    line-height: 20px;
    padding-top: 66px;
    padding-bottom: 72px;
  }

  .order-form__section {
    padding-left: 30px;
    padding-right: 30px;
  }

  .order-form__section--extra {
    display: flex; //здесь флекс, не менять его!
  }

  .order-form__section--radio {
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    padding: 36px 88px;
  }

  .order-form__head {
    font-size: 60px;
  }

  .order-form__title {
    font-size: 36px;
    line-height: 36px;
  }

  .order-form__text-before {
    font-size: 20px;
    line-height: 30px;
  }

  .order-form__text-after {
    font-size: 16px;
    line-height: 16px;
  }

  .order-form__after-wrapper {
    display: flex;
  }
}

@media (min-width: @desktop) {
  .order-form__wrapper {
    display: flex;
  }

  .order-form__section--contacts {
    display: flex;
  }
}
