.order-form {
  .text-medium-upper;
  padding: 31px 20px 35px 20px;
  text-align: left;
  position: relative;
}
.order-form__head {
	.head-1;
}
.order-form__title {
  .head-2;
}
.order-form__text-before {
	.text;
	font-size: 14px;
}
.order-form__text-after {
	.text-medium;
}
.order-form__btn {
	.button;
}

//зеленые полоски
.order-form__section--radio::after {
  content: "";
  .line;
  width: 99px;
  position:  absolute;
}
.order-form__section--comment::before {
  content: "";
  .line;
  width: 158px;
  position:  absolute;
}
.order-form__section--extra::before {
  content: "";
  .line;
  width: 136px;
  position:  absolute;
}

//иконки в инпутах через
.order-form__section--contacts::after //???
.order-form__section--contacts::before



//а как их станет по 3 штуки?... 
//круглая рамка радио
.order-form__radio-label::before {
	content: "";

}
//зеленый круг внутри радио
.order-form__radio-label::after {
  content: "";
  background-color: @color-main;
  width: ;
  border-radius: 50%;
  position: absolute;
  top:;
  left: ;
}



.order-form__section {
  list-style: none;
	.text;
}
.order-form__section--info {
	
}
.order-form__section--contacts {

}
.order-form__section--radio {
	/*как сделать рамку,ширина которой 320рх, для этого блока, если у меня 
	боковые паддинги стоят для всей формы 20рх? Ну неужели же 
	делать паддинги не для всей формы, а для каждого блока отдельно?(( */
  
 
}
.order-form__section--comment {
  
}
.order-form__section--extra {

}
.order-form__row {

}
.order-form__field-label {

}
.order-form__field {

}
.order-form__radio-label {

}


