.promo {
	color: @white;
	background-image: url("../img/index-background-mobile@1x.jpg");
	background-repeat: no-repeat;
	background-color: @color-main;
}
.promo__title {
  .text;
	font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}
.promo__text {
	.text;
  text-transform: uppercase;
}
.promo__btn-link {
  font-size: 14px;
	line-height: 18px;
}