.promo {
	color: @white;
	background-image: url("../img/index-background-mobile@1x.jpg");
	background-repeat: no-repeat;
	background-color: @color-main;
	background-size: 320px 305px;
}
.promo__title {
	.head-1;
}
.promo__text {
	.text;
}
.promo__img {

}
.promo__btn-link {
	.button;
	color: @white;
	line-height: 18px;
}